#{extends 'main.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" href="@{'/public/css/email-info.css'}">
    <link rel="shortcut icon" type="image/x-icon" href="@{'/public/images/favicon.ico'}" />

    <link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
    <link rel="stylesheet" href="@{'/public/css/common.css'}">
#{/set}
     <style>

     </style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">邮箱地址管理</span>
    </div>
    <a class="btn btn-default" href="javascript:;" role="create">添加</a>
</div>
<!-- 页头 end -->

    <table class="tb">
        <thead>
        <tr  class="text-center">
            <th>姓名</th>
            <th>邮箱地址</th>
            <th>部门</th>
            <th class="order" role="contributeAsc">
                创建时间
            </th>
            <th class="order" role="contributeAsc">
                修改时间
            </th>
            <th>操作</th>
        </tr>
        </thead>
        #{if emailInfos == null || emailInfos.size() == 0 }
            <tr><td colspan="5" style="text-align:center;">暂无记录<td></tr>
        #{/if}
        #{else}
        #{list items:emailInfos, as:'info'}
        <tbody>
        <tr class="user-item">
            <input type="hidden" class="id" name="id" value="${info.id}">
            <input type="hidden" class="name" name="name" value="${info.name}">
            <input type="hidden" class="address" name="address" value="${info.address}">
            <td>${info?.name}</td>
            <td>${info?.address}</td>
            <td>${info?.department}</td>
            <td>
            %{out.print(utils.DateUtil.getDateString(info?.createTime))}%
            </td>
            <td>%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%</td>
            <td>
                <div class="opts">
                    <span class="opt" role="edit"><a href="javascript:;">修改</a></span>|
                    <span class="opt" role="delete"><a href="javascript:;">删除</a></span>
                </div>
            </td>
        </tr>
        </tbody>
        #{/list}
        #{/else}
    </table>
#{if pageCount>1 }
<!--分页控件-->
<div id="pagination" class="text-center">
    <!--首页-->
    <ul class="pagination pagination-lg" style="padding-right: 20px;">
        <li><a href='/emailinfos/list?pageNow=1'>首页</a></li>
    </ul>
    <!--分页-->
    <ul class="pagination pagination-lg">
        %{
        int pagesize = 10;//每页显示记录数
        int liststep = 10;//最多显示分页页数
        int pages = 1;//默认显示第一页

        if(pageNow!=null){
        pages=pageNow;
        }
        int count=rowCount;//取出记录总数
        int pagescount = (int) Math.ceil((double) count / pagesize);//求总页数，ceil（num）取整不小于num
        if (pagescount < pages) {
        pages = pagescount;//如果分页变量大总页数，则将分页变量设计为总页数
        }
        if (pages < 1) {
         pages = 1;//如果分页变量小于１,则将分页变量设为１
        }
        int listbegin = (pages - (int) Math.ceil((double) liststep / 2));//从第几页开始显示分页信息
        if (listbegin < 1) {
        listbegin = 1;
        }
        int listend = pages + liststep / 2;//分页信息显示到第几页
        if (listend > pagescount) {
        listend = pagescount + 1;
        }


        //显示分页信息<
        //显示上一页<
        if (pages > 1) {
        out.print("<li><a href='/emailinfos/list?pageNow="+(pages-1)+"'>&laquo;</a></li>");
        }
        //显示上一页>
        //显示分页码<
        for (int i = listbegin; i < listend; i++) {
        if (i != pages) {//如果i不等于当前页
        out.print("<li><a href='/emailinfos/list?pageNow="+i+"'>"+i+"</a></li>");
        } else {
        //当前页
        out.print("<li class='active'><a href='/emailinfos/list?pageNow="+i+"'>"+i+"</a></li>");
        }
        }

        //显示分页码>
        //<显示下一页>
            if (pages != pagescount) {
            out.print("<li><a href='/emailinfos/list?pageNow="+(pages+1)+"'>&raquo;</a></li>");
        }
        //显示下一页>
        //显示分页信息>
        }%
    </ul>
    <!--未页-->
    <ul class="pagination pagination-lg" style="padding-left: 20px;">
        <li><a href='/emailinfos/list?pageNow=${pageCount}'><span>未页:${pageCount}页</span></a></li>
    </ul>
</div>
#{/if}

#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/thirdParty/bootstrap-3.3.4/js/jquery-2.1.3.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/lib/sea_2.1.1.js'}"></script>
<script type="text/javascript" src="@{'/public/js/thirdParty/bootstrap-3.3.4/js/bootstrap.min.js'}"></script>

<script id="createDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
        <form action="@{ajax.EmailInfos.add}" id="createEmail">
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>部门</label>
                <div class="col" id="dep-list">
                    <select id='gameId' name='email.departmentId'>
                            <option value='0'>测试</option>
                            <option value='1'>开发</option>
                            <option value='2'>其他</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>姓名</label>
                <div class="col">
                    <input type="text" name="email.name" value="" style='width:150px'>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>邮箱地址</label>
                <div class="col">
                    <input type="text" name="email.address" value="" style='width:150px'>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 删除 -->
<script id="deleteDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
        <form action="@{ajax.EmailInfos.delete}" id="deleteEmail">
            <div class="form-group">
                <input type="hidden" class="in-t" id="emailId" name="email.id" value="">
                <label class="label">确定删除？</label>
            </div>
        </form>
    </div>
</script>

<!-- 编辑邮箱信息 -->
<script id="editDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
            <form action="@{ajax.EmailInfos.update}" id="updateLevel">
                <div class="form-group">
                <label class="label"><span class="asterisk">*</span>部门</label>
                <div class="col" id="dep-list">
                    <select id='gameId' name='email.departmentId'>
                            <option value='0'>测试</option>
                            <option value='1'>开发</option>
                            <option value='2'>其他</option>
                    </select>
                </div>
                </div>

            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>姓名</label>
                <div class="col">
                    <input type="text" name="email.name" id="emailName" value="" style='width:150px'>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>邮箱地址</label>
                <div class="col">
                    <input type="hidden" class="in-t" id="emailId" name="email.id" value="">
                    <input type="text" name="email.address" id="emailAddress" value="" style='width:150px'>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            </form>
    </div>
</script>

    <script>
        var verNum = new Date();
        seajs.config({
            base:"../",
            // 加版本号
            map: [
                [ '.js', '.js?v='+verNum]
            ]
        });
        seajs.use("@{'/public/js/app/modules/emailinfos.js'}");
    </script>
#{/set}