<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" charset="${_response_encoding}">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" type="image/x-icon" />
        <title>${pageTitle}</title>
        <link rel="stylesheet" href="@{'/public/css/common.css'}">
        #{get 'moreStyles' /}
    </head>
    <body>
    </body>
</html>
