<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" charset="${_response_encoding}">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" type="image/x-icon" />
        <title>${pageTitle}</title>
        <link rel="stylesheet" href="@{'/public/css/common.css'}">
        <link rel="stylesheet" href="@{'/public/css/font-awesome.min.css'}">
        #{get 'moreStyles' /}
    </head>
    <body>
        #{include file="common/header.html" /}
        <div class="content">
            #{include file="common/sidebar.html" /}
            <div class="main">
                <div class="main-inner">
                    #{doLayout /}
                </div>
            </div>
        </div>
        #{include file="common/footer.html" /}
        #{get 'moreScripts' /}
    </body>
</html>
