<!-- 头部 begin -->
<div class="header">
    <div class="header-inner">
        <a class="logo" href="/">
           <img src="@{'/public/images/logo.png'}" alt="${title}">
        </a>
        <div class="userbar">
            <div class="info">     
                <p><a class="nickname">${nickname}</a></p>
            </div>
            <div class="dropdown">
                <b class="dropdown-toggle"><i class="arrow"></i></b>
                <ul class="dropdown-menu">
                    <li><a href="@{Application.logout}">退出</a></li>
                    <li style="border-bottom:1px solid gainsboro;"></li>
                    <li><a href="javascript:;" role="updateSessionInfo">更新权限</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 头部 end -->
