    <style>
        .fa{
            position: absolute;
            left:30px;
            top: 14px;
            font-size: 1.4em;
        }
        dt:hover{
            cursor: pointer;
        }
    </style>
    <!-- 左侧栏 begin -->
    <div class="sidebar">
        <dl class="nav">
            <dt class="nav-hd">
                <i class="fa fa-jpy"></i>邮件管理
            </dt>
            <dd class="nav-bd hide">
                <a class="current" href="">历史邮件</a>
                <a href="">发邮件</a>
            </dd>
        </dl>

    </div>
    <!-- 左侧栏 end -->
